{% extends "layout.jinja2" %}

{% block content %}

<!-- Codrops top bar -->
<div class="codrops-top">
  <a href="http://tympanus.net/Development/RockingLetters/">
      <strong>&laquo; Previous Demo: </strong>Rocking Letters with CSS3 &amp; jQuery
  </a>
  <span class="right">
      <a href="http://www.flickr.com/photos/markjsebastian/" target="_blank">Photography by Mark Sebastian</a>
      <a href="http://creativecommons.org/licenses/by-sa/2.0/deed.en" target="_blank">CC BY-SA 2.0</a>
      <a href="http://tympanus.net/codrops/2012/01/02/fullscreen-background-image-slideshow-with-css3/">
          <strong>Back to the Codrops Article</strong>
      </a>
  </span>
  <div class="clr"></div>
</div><!--/ Codrops top bar -->
<header>
  <h1>CSS3 <span>Fullscreen Slideshow</span></h1>
  <h2>A CSS-only slideshow for background images</h2>
  <p class="codrops-demos">
    <a href="index.html">Demo 1</a>
    <a href="index2.html">Demo 2</a>
    <a href="index3.html">Demo 3</a>
    <a class="current-demo" href="index4.html">Demo 4</a>
  </p>
</header>
{% endblock content %}
